.contacts {
  display: flex;
  gap: 16px 48px;
  margin-left: auto;
  flex-wrap: wrap;
}

.social {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (max-width: 768px) {
  .social {
    display: none;
  }

  .tel {
    display: none;
  }
}
