.menu {
  display: flex;
  justify-content: space-between;
  gap: 96px;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuWrapper {
    display: flex;
    gap: 45px;
}

.menuItemTitle {
  grid-column: 1/-1;
}

.menuTitle {
  min-height: 15px;
  margin-bottom: 21px;
  text-transform: uppercase;
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 700;
}


.linkTextMobile {
    display: none;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    gap: 30px;
  }

  .menuList {
    gap: 10px;
  }

  .menuTitle {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
  }

  .gratitude {
    order: -1;
  }

  .linkText {
    display: none;
  }

  .linkTextMobile {
    display: inline;
}
}

