.menu {
  display: flex;
}

.menu div:last-child {
  text-align: right;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.menuWrapper {
  display: flex;
  gap: 50px;
  margin: 0 auto 0 98px;
}

.menuWrapper div:last-child {
  text-align: left;
}

.menuItemTitle {
  grid-column: 1/-1;
}

.menuTitle {
  min-height: 17px;
  margin-bottom: 21px;
  text-transform: uppercase;
  color: var(--dark-gray);
  font-weight: 700;
  line-height: 17px;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.linkTextMobile {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    gap: 30px;
  }

  .menuList {
    gap: 10px;
  }

  .menuTitle {
    min-height: 15px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
  }

  .menuWrapper {
    gap: 45px;
    margin: 0;
  }

  .gratitude {
    order: -1;
  }

  .linkText {
    display: none;
  }

  .linkTextMobile {
    display: inline;
  }
}
