.copy {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  font-size: 12px;
  line-height: 15px;
}

.copy a {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .copy {
    text-align: left;
  }
}
