.page {
  height: 100%;
  background-image: url('../../../../shared/assets/img/bg-img-main.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1253px 954px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  padding-top: 210px;
  padding-bottom: 72px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 57px;
}

@media (max-width: 768px) {
  .page {
    background-image: url('../../../../shared/assets/img/bg-img-main-mobile.png');
    background-position: left top;
    background-size: cover;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 58px;
    gap: 30px;
  }

  .right {
    align-items: flex-start;
    text-align: right;
  }

  .btn {
    display: none;
  }
}
