.header {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 48px;
  padding: 10px 0;
}

.container {
  display: flex;
  gap: 48px;
  justify-content: space-between;
  white-space: nowrap;
  align-items: flex-start;
}

.navList {
  display: flex;
  gap: 16px 32px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .navList {
    gap: 16px;
    font-size: 12px;
    justify-content: center;
  }
}

@media (max-width: var(--width-mobile)) {
  .header {
    margin-top: 0;
    background-color: var(--primary-black);
    padding: 20px 0;
    position: initial;
  }

  .container {
    display: block;
  }

  .nav {
    width: 100%;
  }

  .navList {
    width: 100%;
    flex-wrap: nowrap;
    text-transform: uppercase;
  }

  .navItem .navItemHidden {
    display: none;
  }
}
