.header {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 48px;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .header {
    margin-top: 0;
    background-color: var(--primary-black);
    padding: 20px 0 15px;
    position: initial;
  }

  .container {
    display: block;
  }
}
